Number of Word

In [1]:
def number_of_word(sentence):
    words = sentence.split()  # Split the sentence into list of words
    return len(words)         # Count and return the number of words

In [2]:
print(number_of_word(sentence='Hello World!'))
# Output: 2

print(number_of_word(sentence='Once Upon a Time in a faraway land'))
# Output: 8

2
8

Find Multiple

In [10]:
def find_multiples(start_range, end_range, multiple):
    multiples = []
    for num in range(start_range, end_range + 1):
        if num % multiple == 0:
            multiples.append(num)
    return multiples

In [12]:
print(find_multiples(start_range= 1, end_range= 20, multiple= 5))

[5, 10, 15, 20]

In [14]:
print(find_multiples(start_range= 1, end_range= 50, multiple= 10))

[10, 20, 30, 40, 50]

Grade Converter

In [22]:
def Grade_Converter(convert_to, **kwargs):
    result = {}
    for student, score in kwargs.items():
        if convert_to == 'letter_grade':
            if score >= 85:
                grade = 'A'
            elif score >= 70:
                grade = 'B'
            elif score >= 60:
                grade = 'C'
            else:
                grade = 'D'
        elif convert_to == 'gpa':
            if score >= 85:
                grade = 4
            elif score >= 70:
                grade = 3
            elif score >= 60:
                grade = 2.5
            else:
                grade = 2
        else:
            grade = None
        result[student] = grade
    return result

In [24]:
print(Grade_Converter(convert_to='gpa', Adam=62, Faiz=91))
# Output: {'Adam': 2.5, 'Faiz': 4}

print(Grade_Converter(convert_to='letter_grade', Albert=90, Dwi=82, Syahdan=58, Veronica=84))
# Output: {'Albert': 'A', 'Dwi': 'B', 'Syahdan': 'D', 'Veronica': 'B'}

{'Adam': 2.5, 'Faiz': 4}
{'Albert': 'A', 'Dwi': 'B', 'Syahdan': 'D', 'Veronica': 'B'}

Fibonacci Sequence

In [26]:
def my_function(n):
    if n == 0:
        return 0
    elif n == 1:
        return 1
    else:
        a, b = 0, 1
        for _ in range(2, n+1):
            a, b = b, a + b
        return b

In [27]:
print(my_function(0))  # Output: 0
print(my_function(4))  # Output: 3
print(my_function(10)) # Output: 55

0
3
55